#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5열 그리드 */
  gap: 20px; /* 그리드 간격 */
  
}
