/* InputTodo.module.css */

.InputTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbar {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textbar:focus {
  outline: none;
  border-color: #007BFF;
}

.submitbutton {
  width: 50px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitbutton:hover {
  background-color: #0056b3;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
